/* Styling for blog.html */

/* === styling for tags === */
* {
    padding: 0;
}

main {
   
}

main>nav {
    width: 100%;
}

aside {
    display: flex;
    align-self: flex-end;
    width: 100px;
}

aside+nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-right: 0;
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: 0;
    
    border-width: 0 0 2px;
    border-color: var(--light-coffee);
    border-style: groove;
}

footer {
    text-align: left;
}

ul {
    list-style: none;
    maring-left: 3em;
}

/* === styling for classes === */
.post{
    border-width: 2px 0 0 0;
    border-color: var(--light-coffee);
    border-style: groove;
    padding: 0 0 0 2em
  /*   width: 100%; *//* 
    background-color: var(--lightest-coffee); */
    
}
.post p{
    margin: auto;
    margin-right: 1em;
    padding: 1em 0em 1em 0em;
    background-color: var(--parchment);
    border-width: 0 0 2px 0;
    border-color: var(--light-coffee);
    border-style: groove;
    color: var(--coffee);
    -webkit-text-fill-color: var(--coffee);
    -moz-text-fill-color: var(--coffee);
}


.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    width: 800px;
}

.posts ol {
    width: 100%;
    list-style: none;
}
