/* styling for forms */

/* global vars */
:root {
    --parchment-color: #FCF5E5;
    --light-coffee: #9c6f44;
    --lighter-coffee:#da9b60;
    --dark-coffee: #271300;
}
/* global styles */

* {

}



main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
    width: 900px;
    border-radius: .25em;
    padding: .25em;
    background-color: var(--parchment-color);
    
}
/* main styles */
article {
   
    border: none;
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
    background-clip: content-box;
    padding: 0;
}

/* <h> styles*/
h1 {
    margin: auto;
    padding: 1em 0 0 0;
    border: none;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    background-clip: padding-box;
    padding: 0 3px 0 30px;
}

/* class styles*/
.post {
    display: flex;
    margin: auto;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    border: none;
    background-clip: content-box;
}

.post input {
    margin: auto;
    background-color: #ffffff;
    height: 2em;
    width: 100%;
    border: none;
    padding: 0;
}

.post label {
    border: none;
    margin: auto;
    width: 90%;
    font-size: 150%;
    font-weight: 900;
    padding: .5em 0 0 1em;

}


.post textarea {
    margin: auto;
    height: 8em;
    background-color: #ffffff;
    resize: none;
    width: 100%;
    padding: 0;
    border: none;
    color: var(--light-coffee);
 
    -webkit-text-fill-color:  var(--light-coffee);
    -moz-text-fill-color:  var(--light-coffee);

}


/* id stylings */

#submit {
    margin: auto;
    margin-top: 1em;
    width: 50%;
    height: 3em;
    background-color: white;
    -webkit-text-fill-color: var(--light-coffee);
    -moz-text-fill-color: var(--light-coffee);
    border-top: none;
    border-right: ridge var(--lighter-coffee);
    border-bottom: none;  
    border-left: ridge var(--lighter-coffee);
    padding: 0;
}

/*
TODO:
need to handle screen resizing
*/