/*
 
this .css file is dependent on styles.css referenced in index.html 
*/

/* === Global Variables === */

* {
    padding: 0;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
    width: 900px;
    border-radius: -.3em;
    border-color: linear-gradient(to right, var(--dark-coffee), var (--lightest-coffee));
    border-width: 2px 0 2px 0;
    border-style: solid;

    background-color: var(--parchment);

}

/* === Main Styles === */
article {

    border: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
    background-clip: content-box;
    
}

/* === Heading Styles === */
h1 {
    margin: auto;
    padding: 1em 0 0 0;
    border: none;
}

/* === Class Styles === */

.input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;

}

.post {
    display: flex;
    margin: auto;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    border: none;
    background-clip: content-box;
}

.post input {
    margin: auto;
    background-color: #ffffff;
    height: 2em;
    width: 100%;
    border: none;
    padding-left: .6em;
}

.post input::placeholder {
    color: var(--lightest-coffee);
    font-weight: bold;
    opacity: 0.8;
}

.post label {
    border: none;
    margin: auto;
    width: 100%;
    font-size: 150%;
    font-weight: 900;
}

.post textarea {
    margin: auto;
    height: 8em;
    background-color: #ffffff;
    resize: none;
    width: 100%;
    padding: .2em .3em .3em .75em;
    border: none;

}

.post textarea::placeholder {
    color: var(--lightest-coffee);
    font-weight: bold;
    opacity: 0.8;
}

/* === id Styles === */

#submit {
    margin: auto;
    margin-top: 1em;
    width: 50%;
    height: 3em;
    background-color: white;
    padding-left: 1px;
    padding-right: 1px;
    border: outset var(--lightest-coffee);
    border-radius: 10px;
}

/*
TODO:
need to handle screen resizing
*/