/* general style sheet for the project */
/*
    color-hexes for coffee colors from color-hex.com
    code to set text gradients is inspired by this post by Sarah L. Fossheim:
    https://fossheim.io/writing/posts/css-text-gradient/

    parchment image sourced from:
    https://www.freepik.com/free-photo/pastel-yellow-vignette-concrete-textured-background_17118471.htm#query=parchment&position=4&from_view=keyword&track=sph&uuid=4a472ed2-887f-40db-9750-5772edb9fec5
    Image by rawpixel.com
    on Freepik
*/


/*variables */
:root {
    --parchment-color: #FCF5E5;
    --light-coffee: #9c6f44;
    --lighter-coffee:#da9b60;
    --dark-coffee: #271300;
}
/* global styles */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: pink;
}

/* 
    this sets the background image to a linear-gradient designed to look like coffee 
    it then renders the background only where text is
    the text is transparent so the background graident shows through
*/
.gradient-text-coffee {
    background-image: radial-gradient(#9c6f44, #271300, #9c6f44, #271300, #9c6f44);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* pretty looking parchment background */
.parchment-background {
    background-image: url("../images/pastel-yellow-vignette-concrete-textured-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* adds border to element with no top or bottom, ridge style, and light coffee color */
.sides-border-ridge-lighter-coffee{
    border-top: none;
    border-right: ridge var(--lighter-coffee);
    border-bottom: none;
    border-left: ridge var(--lighter-coffee);
}

/* forces text in element to light coffee color */
.light-coffee-text {
    color: var(--light-coffee);
    -webkit-text-fill-color:  var(--light-coffee);
    -moz-text-fill-color:  var(--light-coffee);
}

/*
    hex codes of shades of blue i like:
    #bfced
    #000000
*/

.colors {
    color: #2d3b4c;
    color: #bfcedb;
    color: #0c1826;
    /* dark navy */
    color: #43474d;
    color: #0a3635;
    color: #084645;
    color: #5aa5a4;
    color: #338583;
    color: #0daba8;

}